* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

fieldset {
  border: none;
  padding: 0;
}

.field {
  margin-bottom: 1rem;
}

.field input,
.field select {
  appearance: none;
  font: inherit;
  color: inherit;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
  border: 1px solid #777;
  background: #fff;
  border-radius: 4px;
}

.field-error {
  color: red;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
